<!-- chart-config.component.html -->
<div class="config-panel">
  <h3 class="panel-title">Chart Customization</h3>

  <form class="config-form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Color Scheme</mat-label>
      <mat-select
        [(ngModel)]="selectedColorScheme"
        (ngModelChange)="onColorSchemeChange($event)"
        name="colorScheme"
      >
        <mat-option
          *ngFor="let scheme of colorSchemeOptions"
          [value]="scheme.value"
        >
          {{ scheme.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Chart Width</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="chartConfig.chartWidth"
        (ngModelChange)="updateChartConfig()"
        name="chartWidth"
        min="300"
        max="1200"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Chart Height</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="chartConfig.chartHeight"
        (ngModelChange)="updateChartConfig()"
        name="chartHeight"
        min="200"
        max="800"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Bar Padding</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="chartConfig.barPadding"
        (ngModelChange)="updateChartConfig()"
        name="barPadding"
        min="0"
        max="20"
      />
    </mat-form-field>

    <mat-checkbox
      [(ngModel)]="chartConfig.gradient"
      (ngModelChange)="updateChartConfig()"
      name="gradient"
      color="primary"
    >
      Enable Gradient
    </mat-checkbox>

    <mat-checkbox
      [(ngModel)]="chartConfig.roundEdges"
      (ngModelChange)="updateChartConfig()"
      name="roundEdges"
      color="primary"
    >
      Round Edges
    </mat-checkbox>

    <div class="button-group">
      <button mat-raised-button color="primary" (click)="zoomIn()">
        <mat-icon>zoom_in</mat-icon> Zoom In
      </button>
      <button mat-raised-button color="primary" (click)="zoomOut()">
        <mat-icon>zoom_out</mat-icon> Zoom Out
      </button>
    </div>
  </form>
</div>
