<div class="dashboard-container">
  <mat-form-field appearance="fill">
    <mat-label>Select Metric</mat-label>
    <mat-select (selectionChange)="onMetricChange($event.value)">
      <mat-option value="">Select Metric</mat-option>
      <mat-option *ngFor="let metric of metrics" [value]="metric.value">
        {{ metric.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="selectedMetric$ | async as selectedMetric">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ getChartTitle(selectedMetric) }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="chart-wrapper">
        <ng-container [ngSwitch]="selectedMetric">
          <app-bar-chart
            *ngSwitchCase="'salesData'"
            [data]="data$ | async"
          ></app-bar-chart>
          <app-pie-chart
            *ngSwitchCase="'userEngagement'"
            [data]="data$ | async"
          ></app-pie-chart>
          <app-line-chart
            *ngSwitchCase="'performanceStats'"
            [data]="data$ | async"
          ></app-line-chart>
          <app-vertical-chart
            *ngSwitchCase="'stockData'"
            [data]="data$ | async"
          ></app-vertical-chart>
        </ng-container>
        <app-chart-config></app-chart-config>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
